*.iml
.gradle
/local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Log/OS
*.log

# Android Studio
.navigation/
*.apk
*.ap_
*.dex
*.class

# Native (NDK) build outputs
native/build/
native/.cxx/
